-e .
Sphinx
coverage
python-dotenv>=0.5.1
click
make
jupyter
jupyterlab
nltk
spacy
gensim
contractions
bertopic
scikit-learn
pandas==1.5.3
numpy
pyspellchecker
vaderSentiment
textblob
scipy
plotly
matplotlib
joblib
seaborn
argparse
# Testing packages
pytest
pytest-cov
flake8
black
isort
mypy
pre-commit
nbformat
nbconvert
streamlit
transformers
torch
# tensorflow
wordcloud
keras
pyLDAvis
xgboost
jovian
tqdm
pandarallel