# local package
-e .
# external requirements
click
Sphinx
coverage
python-dotenv>=0.5.1
make
# dev requirements
jupyter
jupyterlab
# NLP packages
nltk
spacy
gensim
contractions
# ML packages
scikit-learn
# Data Analysis packages
pandas
numpy
scipy
# Data Visualization packages
plotly
matplotlib
seaborn
# Testing packages
pytest
pytest-cov
# Dev packages
flake8
black
isort
mypy
pre-commit
# App
streamlit
# Deeplearning
transformers
torch
# tensorflow
wordcloud
keras
pyLDAvis