# local package
-e .
# external requirements
click
Sphinx
coverage
# awscli
python-dotenv>=0.5.1
make
# dev requirements
jupyter
jupyterlab
# NLP packages
nltk
spacy
gensim
contractions
# ML packages
sklearn
# Data Analysis packages
pandas
numpy
scipy
sketch
# Data Visualization packages
plotly
matplotlib
seaborn
# AWS packages
boto3
# Testing packages
pytest
pytest-cov
# Dev packages
flake8
black
isort
mypy
pre-commit
# App
streamlit
# Deeplearning
transformers
torch